:root {
    --map-height: 60%;
    --map-width: 55%;
    --header-font: 'Proza Libre', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --top-margin: 0;
    --side-margin: 1%;
    --mid-margin: 1%;

    --green: #609f60;
    --hover-blue: #ccdcea;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
}

#title {
    margin-left: var(--side-margin);
}

#title h1 {
    font-family: var(--header-font);
    margin-top: 1%;
    margin-bottom: 1%;
}

div.town_tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 41px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.lucca_tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 14px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.obj_tooltip {
    position: absolute;
    text-align: center;
    width: 105px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

button, a {
    float: right;
    font-family: var(--body-font);
    font-style: italic;
    text-decoration: underline;
    color: #979797;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover, a:hover {
    transition: color 0.4s;
    color: steelblue;
}

#animationDescription {
    order: 1;
}

#animationMap {
    order: 2;
}

#returnButton {
    order: 3;
    font-size: x-large;
}

#mapDate {
    fill: white;
    font-size: xx-large;
}