:root {
    --selector-height: 40%;
    --selector-width: 10%;
    --table-height: 60%;
    --table-width: 30%;
    --map-height: 60%;
    --map-width: 55%;
    --header-font: 'Proza Libre', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --top-margin: 2%;
    --side-margin: 1%;
    --mid-margin: 1%;
    --histogram-width: calc((100% - 2 * var(--side-margin))/2 - var(--mid-margin));
    --histogram-height: 35%;

    --green: #609f60;
    --hover-blue: #ccdcea;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.axisLabel {
    font-family: var(--body-font);
}

.clickbar {
    cursor: pointer;
    fill: darkgray;
    opacity: 0;
    transition-duration: 0.2s;
}

.clickbar:hover, .clickbar.deselected:hover {
    fill: var(--hover-blue);
    opacity: 0.5;
    transition-duration: 0.1s;
}

.clickbar.deselected {
    opacity: 0.2;
    transition-duration: 0.2s;
}

.backbar {
    fill: url(#pattern);
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.backbar.selected {
    transition-duration: 0.2s;
    opacity: 0;
}

.backbar.deselected {
    transition-duration: 0.2s;
    opacity: 0.25;
}

.forebar.selected {
    color: var(--green);
    visibility: visible;
    transition-duration: 0.2s;
}

.forebar.deselected {
    visibility: hidden;
    transition-duration: 0.2s;
}

.allbar {
    pointer-events: none;
}

.allbar.selected {
    opacity: 1;
    transition-duration: 0.2s;
}

.allbar.deselected {
    opacity: 0.2;
    transition-duration: 0.2s;
}

.tick text {
    font-family: var(--body-font);
}

.xTick.selected {
    opacity: 1;
    transition-duration: 0.2s;
}

.xTick.deselected {
    opacity: 0.3;
    transition-duration: 0.2s;
}

.timeline_backbar {
    fill: lightgray;
}

div.town_tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 41px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.lucca_tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 14px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.obj_tooltip {
    position: absolute;
    text-align: center;
    width: 105px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}

circle.legend {
    fill: var(--green);
    opacity: 0.7;
}

.legend.label {
    fill: white;
    font-family: var(--body-font);
}

.legend.title {
    font-size: x-small;
    font-family: var(--body-font);
    fill: white;
}

.grid .tick:not(:first-of-type) line {
    stroke: darkgray;
    stroke-opacity: 0.6;
    stroke-dasharray: 3,2;
}

.xGrid line {
    stroke: darkgray;
    stroke-opacity: 0.6;
    stroke-dasharray: 3,2;
}

.grid path {
    stroke-width: 0;
}

#townContainer{
    display: flex;
    flex-direction: column;
    float: left;
    height: var(--selector-height);
    width: var(--selector-width);
    margin-right: var(--mid-margin);
    margin-left: var(--side-margin);
}

#townContainer p {
    font-family: var(--header-font);
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0px;
}

#townSelector {
    position: relative;
    flex-grow: 1;
    font-family: var(--body-font);
    font-size: x-small;
    overflow: auto;
}

#townSelector input {
    position: absolute;
    left: -9999px;
}

#townSelector label {
    display: block;
    width: 100%;
    transition-duration: 0.1s;
}

#townSelector label:hover {
    background-color: var(--hover-blue);
    transition-duration: inherit;
}

#townSelector input[type="checkbox"]:checked + label {
    background-color: #6798c1;
    color: white;
    transition-duration: 0.1s;
}

#townSelector input[type="checkbox"]:checked + label:hover {
    color: initial;
    background-color: var(--hover-blue);
    transition-duration: inherit;
}

#animateButton {
    position: absolute;
    float:left;
    top: 45%;
    left: var(--side-margin);
}

#animateButton a {
    font-size: xx-large;
}

#mapContainer {
    height: var(--map-height);
    width: var(--map-width);
    float: left;
    margin-top: var(--top-margin);
    margin-right: var(--mid-margin);
}

.map {
    height: 90%;
    width: 100%;
}

.water {
    height: 100%;
    width: 100%;
    fill: lightblue;
}

/* #mapContainer button { */
button, a {
    float: right;
    font-family: var(--body-font);
    font-style: italic;
    text-decoration: underline;
    color: #979797;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* #mapContainer button:hover { */
button:hover, a:hover {
    transition: color 0.4s;
    color: steelblue;
}

#timelineContainer {
    display: flex;
    flex-direction: column;
    float: left;
    width: var(--histogram-width);
    height: var(--histogram-height);
    margin-left: var(--side-margin);
    margin-right: var(--mid-margin);
}

#timelineContainer p {
    font-family: var(--header-font);
    font-size: x-large;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

#timelineHist {
    flex-grow: 1;
}

.dateText {
    font-family: var(--body-font);
}

.timeline_forebar {
    fill: var(--green);
}

.time_hist {
    height: 100%;
    width: 100%;
}

.obj_hist {
    height: 100%;
    width: 100%;
}

button.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 400ms, opacity 400ms;
}

button.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 400ms, color 0.4s;
}

#tableContainer{
    display: flex;
    flex-direction: column;
    float: right;
    height: var(--table-height);
    margin-right: var(--side-margin);
    width: var(--table-width);
}

#tableContainer p {
    font-family: var(--header-font);
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0px;
}

#tableViewer {
    flex-grow: 1;
    font-family: var(--body-font);
    font-size: small;
    height: 100%;
    overflow: auto;

}

#tableViewer th {
    background-color: #6798c1;
    color: white;
    text-align: left;
    width:480px
}

#tableViewer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.foredot {
    fill: var(--green);
    pointer-events: none;
}

.forebar {
    fill: var(--green);
    pointer-events: none;
}

#categoryContainer p {
    font-family: var(--header-font);
    font-size: x-large;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

#categoryContainer {
    display: flex;
    flex-direction: column;
    float: right;
    width: var(--histogram-width);
    height: var(--histogram-height);
    margin-left: var(--side-margin);
}

#categoryHist {
    flex-grow: 1;
}
