:root {
    --selector-height: 40%;
    --table-height: 100%;
    --header-font: 'Proza Libre', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --top-margin: 2%;
    --side-margin: 30px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.bar rect {
    fill: lightgray;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}

div.town_tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 15px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.obj_tooltip {
    position: absolute;
    text-align: center;
    width: 105px;
    height: 35px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

/* //https://bl.ocks.org/d3noob/c506ac45617cf9ed39337f99f8511218 */
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

#townContainer{
    float: left;
    height: var(--selector-height);
    margin-right: 50px;
    margin-left: var(--side-margin);
}

#townContainer p {
    font-family: var(--header-font);
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0px;
}

#townSelector {
    font-family: var(--body-font);
    font-size: x-small;
    height: 100%;
    overflow: auto;
}

#townSelector input {
    position: absolute;
    left: -9999px;
}

#townSelector label {
    display: block;
    width: 100%;
    transition-duration: 0.1s;
}

#townSelector label:hover {
    background-color: #ccdcea;
    transition-duration: inherit;
}

#townSelector input[type="checkbox"]:checked + label {
    background-color: #6798c1;
    color: white;
    transition-duration: 0.1s;
}

#mapContainer {
    width: 700px;
    float: left;
    margin-top: var(--top-margin);
}

/* #mapContainer button { */
button {
    float: right;
    font-family: var(--body-font);
    font-style: italic;
    text-decoration: underline;
    color: #979797;
    background-color: transparent;
    border: none;
}

/* #mapContainer button:hover { */
button:hover {
    transition: color 0.4s;
    color: steelblue;
}

#timelineContainer {
    float: left;
}

#categoryContainer {
    float: left;
}

button.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 400ms, opacity 400ms;
}

button.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 400ms, color 0.4s;
}

#tableContainer{
    float: right;
    height: var(--table-height);
    margin-right: var(--side-margin);
}

#tableContainer p {
    font-family: var(--header-font);
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0px;
}

#tableViewer {
    font-family: var(--body-font);
    font-size: small;
    height: 100%;
    overflow: auto;
}
